{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'djangoApp/css/style.css' %}"/>
</head>
<body>
<header>
    <div id="header_container">
        <h1>djangoApp</h1>
        <nav id="nav_bar">
                <a href="/">Acceuil</a>
                <a href="/admin/">Admin</a>
            {% if request.user.is_authenticated  %}
            <div class="avatar_container">
                <span>{{ request.user.username }}</span>
                <img class="user_avatar" src="{% static 'djangoApp/images/avatar.png' %}" alt="
{{ request.user.username }}">
            </div>
            {% else %}
            <a href="/admin/login/?next=/">Se connecter</a>
            {% endif %}
        </nav>

    </div>
</header>
<div id="container">

{% block content %}

{% endblock %}
</div>
</body>
</html>